.product-card {
    margin: 24px 16px;
    padding: 8px;
    border-radius: 16px;
    background-color: #eeeeee;
}

.main-input {
    background-color: #00ff65;
}

.label {
    font-size: 14px;
    padding-left: 16px;
}

.type-select {
    display: block;
    font-size: 1rem;
}

.type-select select {
    width: 100%;
}

.range-unit-select {
    font-size: 1rem;
}

.range-input {
    flex: 1;
}

.range-input-container {
    display: flex;
    align-items: center;
}

