.add-product-button {
    margin-top: 24px;
    border-radius: 50%;
    background-color: #00ff65;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
}

.add-product-button-icon {
    font-size: 30px;
    border: 1px black;
}
