.navbar-tabs {
    align-items: center;
}

.navbar-tab {
    display: table;
    height: 100%;
    padding: 0 50px 0 50px;
}

.navbar-tab-title {
    display: table-cell;
    vertical-align: middle;
}

.navbar-tab:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

.active {
    background-color: #DDDDDD;
}
