.intensity-button {
    margin-right: 2px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 0;
    font-size: 15px;
    width: 80px;
    height: 30px;
}

.intensity-button:focus {
    outline: 0;
}

.active-intensity {
    background-color: #000000;
    color: #FFFFFF;
}

.bold-intensity {
    font-weight: bold;
}

